BODY {
	SCROLLBAR-FACE-COLOR: #f6f6f6; FONT-SIZE: 9pt; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #f6f6f6; SCROLLBAR-SHADOW-COLOR: #a7a7a7; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #a6a6a6; SCROLLBAR-TRACK-COLOR: #f0f0f0; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
SELECT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.input {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.button {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #fff 1px solid; COLOR: #000000; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #ccdae8
}
TABLE {
	FONT-SIZE: 12px
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #1639a9; TEXT-DECORATION: underline
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: 0px
}
.link {
	FONT-SIZE: 0.65em; TEXT-TRANSFORM: uppercase; COLOR: #333333; TEXT-INDENT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.disabledLink {
	FONT-SIZE: 0.65em; TEXT-TRANSFORM: uppercase; COLOR: #999999; TEXT-INDENT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tree_bgcolor {
	BACKGROUND-COLOR: #e3eeff
}
.leftbj_bgimage {
	BACKGROUND-IMAGE: url(images/left-bj.gif)
}
.left1_bgimage {
	BACKGROUND-IMAGE: url(images/left-1.gif)
}
.left2_bgimage {
	BACKGROUND-IMAGE: url(images/left-2.gif)
}
.left3_bgimage {
	BACKGROUND-IMAGE: url(images/left-3.gif)
}
.spliter_color {
	BACKGROUND-COLOR: #6b7dde
}
.top1_bgimage {
	BACKGROUND-IMAGE: url(../images/top-1.gif)
}
.top2_bgimage {
	BACKGROUND-IMAGE: url(../images/top-2.gif)
}
.top3_bgimage {
	BACKGROUND-IMAGE: url(../images/top-3.gif)
}
.top4_bgimage {
	BACKGROUND-IMAGE: url(../images/top-4.gif)
}
.top5_bgimage {
	BACKGROUND-IMAGE: url(../images/top-5.gif)
}
.topbj_bgimage {
	BACKGROUND-IMAGE: url(../images/top-bj.gif)
}
.topbar_bgimage {
	BACKGROUND-IMAGE: url(../images/topbar_01.jpg)
}
.firstpage_bgimage {
	BACKGROUND-IMAGE: url(../images/dbsx_01.gif)
}
.desktop_bj {
	BACKGROUND-IMAGE: url(../images/right-bj.gif)
}
.desktop_bgimage {
	BACKGROUND-IMAGE: url(../images/right.gif)
}
.table_bgcolor {
	BACKGROUND-COLOR: #f5f9ff
}
.table_bordercolor {
	
}
.table_bordercolor TD {
	
}
.table_titlebgcolor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 4px; HEIGHT: 25px; BACKGROUND-COLOR: #6b7dde
}
.tdleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; WIDTH: 15%; PADDING-TOP: 4px; HEIGHT: 25px; BACKGROUND-COLOR: #eeeeee
}
.tdleft1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; WIDTH: 15%; PADDING-TOP: 4px; HEIGHT: 20px; BACKGROUND-COLOR: #eeeeee
}
.table {
	BORDER-RIGHT: #6b7dde 1px solid; BORDER-TOP: #6b7dde 1px solid; BORDER-LEFT: #6b7dde 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6b7dde 1px solid; BORDER-COLLAPSE: collapse
}
.table TD {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.table TD SPAN {
	COLOR: red; FONT-FAMILY: Arial
}
.table1 {
	BORDER-RIGHT: #6b7dde 1px solid; BORDER-TOP: #6b7dde 1px solid; BORDER-LEFT: #6b7dde 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6b7dde 1px solid; BORDER-COLLAPSE: collapse
}
.table1 TD {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.form_requestcolor {
	COLOR: #e78a29
}
.article {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; FILTER: revealTrans(transition=23,duration=0.5) blendTrans(duration=0.5); VISIBILITY: hidden; PADDING-BOTTOM: 3px; BORDER-LEFT: black 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: #f5f9ff
}
