INPUT.Ok {
	BACKGROUND: url(/reg/images/reg_ok2.gif) #fff no-repeat right top
}
INPUT.Warning {
	BACKGROUND: url(/reg/images/err.gif) #fff no-repeat right bottom
}
INPUT.Error {
	BACKGROUND: url(/reg/images/err.gif) #fff no-repeat right bottom
}
INPUT.Normal {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #fff
}
.OkMsg {
	BORDER-RIGHT: #00be00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00be00 1px solid; PADDING-LEFT: 25px; BACKGROUND: url(/reg/images/standard_msg_ok.gif) #e6ffe6 no-repeat 5px 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #00be00 1px solid; WIDTH: 205px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #00be00 1px solid
}
.WarningMsg {
	BORDER-RIGHT: #00a8ff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00a8ff 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(/reg/images/standard_msg_warning.gif) #e2f5ff no-repeat 5px 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #00a8ff 1px solid; WIDTH: 230px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #00a8ff 1px solid
}
.ErrorMsg {
	BORDER-RIGHT: #f60 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #f60 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #f60 1px solid; WIDTH: 230px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #f60 1px solid; BACKGROUND-COLOR: #fff2e9
}
.OkMsgs {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; WIDTH: 230px; COLOR: #fff; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fff
}
.HintMsg {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 230px; COLOR: #999; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: transparent
}
.HintMsg A:link {
	WIDTH: 250px; COLOR: #666; TEXT-DECORATION: none
}
.HintMsg A:visited {
	WIDTH: 250px; COLOR: #666; TEXT-DECORATION: none
}
.OkMsg_lite {
	BORDER-RIGHT: #00be00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00be00 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #00be00 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #00be00 1px solid; BACKGROUND-COLOR: #e6ffe6
}
.WarningMsg_lite {
	BORDER-RIGHT: #00a8ff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00a8ff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #00a8ff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #00a8ff 1px solid; BACKGROUND-COLOR: #e2f5ff
}
.ErrorMsg_lite {
	BORDER-RIGHT: #f60 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f60 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f60 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f60 1px solid; BACKGROUND-COLOR: #fff2e9
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px auto; TEXT-ALIGN: center
}
.main {
	MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: center
}
.middle {
	CLEAR: both; BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 760px; BORDER-BOTTOM: #cbcbcb 1px solid
}
.Divtitle {
	VERTICAL-ALIGN: bottom; WIDTH: 760px; HEIGHT: 44px
}
.Divtitle .T_div1 {
	BACKGROUND: url(../images/Reg_01.gif) no-repeat right top; FLOAT: left; WIDTH: 95px; HEIGHT: 44px
}
.Divtitle .bgBlack {
	LINE-HEIGHT: 15px; HEIGHT: 15px
}
.Divtitle .T_div3 {
	BACKGROUND: url(../images/Reg_04.gif) #dcdcdc no-repeat right top; FLOAT: right; WIDTH: 665px; HEIGHT: 26px
}
#Content {
	MARGIN-BOTTOM: 5px
}
.ContentNeed {
	MARGIN: 0px auto; WIDTH: 700px; TEXT-ALIGN: left
}
.protolTxt {
	BORDER-RIGHT: #c6c3c6 1px solid; BORDER-TOP: #c6c3c6 1px solid; MARGIN-BOTTOM: 15px; BORDER-LEFT: #c6c3c6 1px solid; WIDTH: 700px; BORDER-BOTTOM: #c6c3c6 1px solid; HEIGHT: 75px
}
