TD {
	FONT-SIZE: 9pt; font-face: ו
}
.s02 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; FONT-SIZE: 9pt; BORDER-LEFT: #ffffff 1px ridge; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #cccccc
}
TABLE {
	FONT-SIZE: 9pt
}
BODY {
	
}
A {
	COLOR: #0f0cbf; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a1 {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a1:hover {
	COLOR: #eeeeee; TEXT-DECORATION: underline
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
