<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <session-config>
    <session-timeout>420</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
   <!--
   
   <listener>
    <listener-class>com.lccert.crm.chemistry.email.TaskLisent</listener-class>
  </listener> 
  <listener>
    <listener-class>com.lccert.www.UpdataManager</listener-class>
  </listener>
   -->
   <listener>
    <listener-class>com.lccert.crm.chemistry.email.RecordTask</listener-class>
  </listener>
  <listener>
    <listener-class>com.lccert.crm.chemistry.email.TaskManager</listener-class>
  </listener>
  <listener>
    <listener-class>com.lccert.crm.chemistry.email.SBLTaskManager</listener-class>
  </listener>
  <listener>
    <listener-class>com.lccert.crm.chemistry.email.TaskWarning</listener-class>
  </listener>
 
  
  <!-- 过滤器 -->
  <filter>
  	<filter-name>setEncoding</filter-name>  
   <filter-class>com.lccert.crm.chemistry.util.ToUnicode</filter-class>  
   <init-param>  
   <param-name>toUnicode</param-name>  
   <param-value>GBK</param-value> 
   </init-param>  
  </filter>
  
   <filter-mapping>
  <filter-name>setEncoding</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>log4jinit</servlet-name>
    <servlet-class>com.lccert.crm.log4j.Log4JInit</servlet-class>
    <init-param>
      <param-name>log4j-config-file</param-name>
      <param-value>WEB-INF\classes\log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>passwordvalidate</servlet-name>
    <servlet-class>com.lccert.crm.user.PasswordValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordvalidate</servlet-name>
    <url-pattern>/servlet/passwordvalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>export</servlet-name>
    <servlet-class>com.lccert.crm.project.ProjectExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>export</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajaxItem</servlet-name>
    <servlet-class>com.lccert.crm.dao.impl.SalesOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxItem</servlet-name>
    <url-pattern>/ajaxItem</url-pattern>
  </servlet-mapping>
   <!-- 财务支出申请表的根据三级获取一级、二级科目 -->
  <servlet>
    <servlet-name>fpayAction</servlet-name>
    <servlet-class>com.lccert.crm.action.FpayAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fpayAction</servlet-name>
    <url-pattern>/fpayAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lateproject</servlet-name>
    <servlet-class>com.lccert.crm.chemistry.lab.LateProjectExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lateproject</servlet-name>
    <url-pattern>/lateproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>todayprojects</servlet-name>
    <servlet-class>com.lccert.crm.chemistry.lab.TodayProjectExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>todayprojects</servlet-name>
    <url-pattern>/todayprojects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>outproject</servlet-name>
    <servlet-class>com.lccert.crm.project.OutProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>outproject</servlet-name>
    <url-pattern>/outproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clientprojects</servlet-name>
    <servlet-class>com.lccert.crm.chemistry.lab.ClientProjectExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientprojects</servlet-name>
    <url-pattern>/clientprojects</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>weekstatistics</servlet-name>
    <servlet-class>com.lccert.crm.chemistry.lab.WeekStatisticsExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weekstatistics</servlet-name>
    <url-pattern>/weekstatistics</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>financequotation</servlet-name>
    <servlet-class>com.lccert.crm.quotation.FinanceQuotationExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>financequotation</servlet-name>
    <url-pattern>/financequotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>financeManage</servlet-name>
    <servlet-class>com.lccert.crm.quotation.FinanceExport</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>financeManage</servlet-name>
    <url-pattern>/financeManage</url-pattern>
  </servlet-mapping>
  
  <!-- 出纳帐支出导出功能 -->
  <servlet>
    <servlet-name>fpayExport</servlet-name>
    <servlet-class>com.lccert.crm.quotation.FpayExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fpayExport</servlet-name>
    <url-pattern>/fpayExport</url-pattern>
  </servlet-mapping>
  <!-- 出纳帐收入导出功能 -->
  <servlet>
    <servlet-name>finComeExport</servlet-name>
    <servlet-class>com.lccert.crm.quotation.FinComeExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finComeExport</servlet-name>
    <url-pattern>/finComeExport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>payFinanceExport</servlet-name>
    <servlet-class>com.lccert.crm.quotation.PayFinanceExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payFinanceExport</servlet-name>
    <url-pattern>/payFinanceExport</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>financeEMC</servlet-name>
    <servlet-class>com.lccert.crm.quotation.FinanceEMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>financeEMC</servlet-name>
    <url-pattern>/financeEMC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>financequotation2</servlet-name>
    <servlet-class>com.lccert.crm.quotation.FinanceQuotationExport2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>financequotation2</servlet-name>
    <url-pattern>/financequotation2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>projectxls</servlet-name>
    <servlet-class>com.lccert.crm.create.xls.ProjectXLS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectxls</servlet-name>
    <url-pattern>/projectxls</url-pattern>
  </servlet-mapping>
  <servlet>
  <!-- 
    <servlet-name>reportmoduel</servlet-name>
    <servlet-class>com.lccert.crm.report.ReportToWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportmoduel</servlet-name>
    <url-pattern>/reportmoduel</url-pattern>
  </servlet-mapping>
   
  <servlet>
  -->
    <servlet-name>reportexport</servlet-name>
    <servlet-class>com.lccert.crm.report.ReportExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportexport</servlet-name>
    <url-pattern>/reportexport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sampleannex</servlet-name>
    <servlet-class>com.lccert.crm.sample.SampleAnnexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sampleannex</servlet-name>
    <url-pattern>/sampleannex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verificationPwd</servlet-name>
    <servlet-class>com.lccert.crm.user.VerificationPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verificationPwd</servlet-name>
    <url-pattern>/verificationPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajaxClass</servlet-name>
    <servlet-class>com.lccert.crm.project.AjaxClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxClass</servlet-name>
    <url-pattern>/ajaxClass</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>upSamplePack</servlet-name>
    <servlet-class>com.lccert.crm.sample.upSamplePack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upSamplePack</servlet-name>
    <url-pattern>/upSamplePack</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>emdPrice</servlet-name>
    <servlet-class>com.lccert.crm.quotation.EmdPrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emdPrice</servlet-name>
    <url-pattern>/emdPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>samplePackage</servlet-name>
    <servlet-class>com.lccert.crm.sample.SamplePackageSerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>samplePackage</servlet-name>
    <url-pattern>/samplePackage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ouna</servlet-name>
    <servlet-class>com.lccert.oa.impl.OaUserNameAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ouna</servlet-name>
    <url-pattern>/ouna</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>verificationS</servlet-name>
    <servlet-class>com.lccert.crm.user.VerificationSecurity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verificationS</servlet-name>
    <url-pattern>/verificationS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileDown</servlet-name>
    <servlet-class>com.lccert.crm.downreport.DownLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileDown</servlet-name>
    <url-pattern>/fileDown</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pdfEmail</servlet-name>
    <servlet-class>com.lccert.crm.downreport.pdfEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdfEmail</servlet-name>
    <url-pattern>/pdfEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lookFile</servlet-name>
    <servlet-class>com.lccert.crm.downreport.LookFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lookFile</servlet-name>
    <url-pattern>/lookFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileCopy</servlet-name>
    <servlet-class>com.lccert.crm.downreport.fileCopy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileCopy</servlet-name>
    <url-pattern>/fileCopy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phpXloadTree</servlet-name>
    <servlet-class>com.lccert.crm.project.PhpXloadTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phpXloadTree</servlet-name>
    <url-pattern>/phpXloadTree</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
</web-app>