#header {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 3px; WIDTH: 758px; TEXT-ALIGN: center
}
#headerlogin {
	WIDTH: 760px; HEIGHT: 30px; BACKGROUND-COLOR: #d7e8ff
}
#header INPUT {
	FONT-SIZE: 12px
}
#header FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px 10px; PADDING-TOP: 0px
}
#headerrow2 {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; MARGIN-TOP: 1px; BORDER-LEFT: #cdcdcd 1px solid; WIDTH: 760px; BORDER-BOTTOM: #cdcdcd 1px solid
}
#header A {
	COLOR: #0f0cbf; TEXT-DECORATION: none
}
#header A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
#headernav {
	FLOAT: left; WIDTH: 464px; HEIGHT: 56px
}
#headernav1 {
	FLOAT: left; WIDTH: 612px; HEIGHT: 56px
}
#headerlogo {
	BORDER-RIGHT: #cdcdcd 1px solid; FLOAT: left; WIDTH: 146px; HEIGHT: 56px; TEXT-ALIGN: center
}
#headerlogo .spacer3 {
	HEIGHT: 3px
}
#headernavrow1 {
	WIDTH: 612px; COLOR: white; HEIGHT: 28px; BACKGROUND-COLOR: #528ab5; TEXT-ALIGN: center
}
#headernavrow2 {
	FLOAT: left; WIDTH: 464px; HEIGHT: 28px; TEXT-ALIGN: center
}
#headernavrow1 .spacer7 {
	HEIGHT: 7px
}
#headernavrow2 .spacer7 {
	HEIGHT: 7px
}
#headernavrow1 A {
	COLOR: white
}
#headernavrow2 A {
	
}
#headersearch {
	FLOAT: left; WIDTH: 146px; HEIGHT: 56px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: center
}
#headersearchrow2 .spacer3 {
	HEIGHT: 3px
}
